.wrunner__value_direction_horizontal
	top: 0
	min-width: 1.5rem
	/*margin-left: -1.1rem*/

.wrunner__value_direction_horizontal::after
	left: 50%
	margin-left: -.25rem
	bottom: -.5rem
	border: .25rem solid transparent