.wrunner__valueNoteMin_theme_default.wrunner__valueNoteMin_direction_vertical
  left: 2.5rem
  min-width: 1.5rem
  border-radius: .3rem .7rem .3rem .7rem

.wrunner__valueNoteMin_theme_default.wrunner__valueNoteMin_direction_vertical::after
  top: 50%
  margin-top: -.25rem
  left: -.5rem
  border: .25rem solid transparent
  border-right-color: #c54a8e