.sample
  &__body
    display: flex
    justify-content: space-between

  &__data
    width: 50%
    min-height: 5rem
    padding: .5rem
    border-left: solid white
    margin-left: .25rem

  &__instance
    width: 50%
    min-height: 5rem
    padding: .25rem

  &__parameter
    margin-top: 1rem
    display: flex
    justify-content: space-between

    &:first-child
      margin-top: 0

  &__parameter-name
    font-style: normal
    color: white
    font-size: 1.5rem
    flex-shrink: 0
    margin-right: 1rem
    text-shadow: 3px 5px 4px rgba(0,0,0,.6)

  &__parameter-value
    width: 100%
    color: black

  &__title
    text-align: center
    font-style: normal
    margin: .2rem
    color: white
    text-shadow: 3px 5px 4px rgba(0,0,0,.6)