.wrunner__valueNoteMax_theme_default.wrunner__valueNoteMax
  position: absolute
  padding: .35rem
  background-color: #c54a8e
  text-align: center
  color: white
  font-size: .75rem
  font-family: lato
  font-weight: 900
  cursor: default

.wrunner__valueNoteMax_theme_default.wrunner__valueNoteMax::after
  content: ''
  position: absolute
  display: block
  height: 0
  width: 0