.wrunner_theme_default.wrunner_direction_horizontal {
  width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  box-sizing: border-box;
}
.wrunner_theme_default.wrunner_direction_vertical {
  height: 100%;
  width: max-content;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  box-sizing: border-box;
}
.wrunner__outer_theme_default.wrunner__outer {
  position: relative;
  padding-top: 0.1px;
}
.wrunner__outer_theme_default.wrunner__outer_direction_horizontal {
  height: 4rem;
  width: 100%;
}
.wrunner__outer_theme_default.wrunner__outer_direction_vertical {
  height: 100%;
  width: 5.5rem;
  min-height: 10rem;
}
.wrunner__division_theme_default.wrunner__division {
  background-color: #cb73a4;
}
.wrunner__division_theme_default.wrunner__division_direction_horizontal {
  height: 0.5rem;
  width: 0.1rem;
}
.wrunner__division_theme_default.wrunner__division_direction_vertical {
  height: 0.1rem;
  width: 0.5rem;
}
.wrunner__divisions_theme_default.wrunner__divisions {
  position: absolute;
  display: flex;
}
.wrunner__divisions_theme_default.wrunner__divisions_direction_horizontal {
  top: 3.5rem;
  width: 100%;
  justify-content: space-between;
}
.wrunner__divisions_theme_default.wrunner__divisions_direction_vertical {
  height: 100%;
  width: 0.5rem;
  left: 0;
  justify-content: space-between;
  flex-direction: column;
}
.wrunner__handle_theme_default.wrunner__handle,
.wrunner__handleMin_theme_default.wrunner__handleMin,
.wrunner__handleMax_theme_default.wrunner__handleMax {
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 40%;
  background-color: #cf579a;
  transition-duration: 0.2s;
  transition-property: transform, background-color, border-radius;
  cursor: pointer;
  z-index: 1;
}
.wrunner__handle_theme_default.wrunner__handle:hover,
.wrunner__handleMin_theme_default.wrunner__handleMin:hover,
.wrunner__handleMax_theme_default.wrunner__handleMax:hover {
  transform: scale(1.1);
  border-radius: 50%;
  background-color: #c54a8e;
}
.wrunner__handle_theme_default.wrunner__handle:active,
.wrunner__handleMin_theme_default.wrunner__handleMin:active,
.wrunner__handleMax_theme_default.wrunner__handleMax:active {
  transform: scale(0.9);
  border-radius: 50%;
  background-color: #aa3d9c;
}
.wrunner__handle_theme_default.wrunner__handle_direction_vertical,
.wrunner__handleMin_theme_default.wrunner__handleMin_direction_vertical,
.wrunner__handleMax_theme_default.wrunner__handleMax_direction_vertical {
  margin-top: -0.6rem;
  margin-left: -0.4rem;
}
.wrunner__handle_theme_default.wrunner__handle_direction_horizontal,
.wrunner__handleMin_theme_default.wrunner__handleMin_direction_horizontal,
.wrunner__handleMax_theme_default.wrunner__handleMax_direction_horizontal {
  margin-top: -0.35rem;
  margin-left: -0.6rem;
}
.wrunner__path_theme_default.wrunner__path {
  position: absolute;
  background-color: rgba(205,205,205,0.75);
  border-radius: 0.25rem;
  cursor: pointer;
}
.wrunner__path_theme_default.wrunner__path_direction_horizontal {
  height: 0.5rem;
  width: 100%;
  top: 2.3rem;
}
.wrunner__path_theme_default.wrunner__path_direction_vertical {
  height: 100%;
  width: 0.5rem;
  left: 1.2rem;
}
.wrunner__pathPassed_theme_default.wrunner__pathPassed {
  position: absolute;
  background-color: #cb73a4;
  border-radius: 0.25rem;
}
.wrunner__pathPassed_theme_default.wrunner__pathPassed_direction_horizontal {
  height: 100%;
}
.wrunner__pathPassed_theme_default.wrunner__pathPassed_direction_vertical {
  width: 100%;
  bottom: 0;
}
.wrunner__valueNote_theme_default.wrunner__valueNote,
.wrunner__valueNoteMin_theme_default.wrunner__valueNoteMin,
.wrunner__valueNoteMax_theme_default.wrunner__valueNoteMax,
.wrunner__valueNoteCommon_theme_default.wrunner__valueNoteCommon {
  position: absolute;
  padding: 0.35rem;
  background-color: #c54a8e;
  text-align: center;
  color: #fff;
  font-size: 0.75rem;
  font-family: lato;
  font-weight: 900;
  cursor: default;
  transition: 0.2s opacity;
}
.wrunner__valueNote_theme_default.wrunner__valueNote::after,
.wrunner__valueNoteMin_theme_default.wrunner__valueNoteMin::after,
.wrunner__valueNoteMax_theme_default.wrunner__valueNoteMax::after,
.wrunner__valueNoteCommon_theme_default.wrunner__valueNoteCommon::after {
  content: '';
  position: absolute;
  display: block;
  height: 0;
  width: 0;
}
.wrunner__valueNote_theme_default.wrunner__valueNote_direction_horizontal,
.wrunner__valueNoteMin_theme_default.wrunner__valueNoteMin_direction_horizontal,
.wrunner__valueNoteMax_theme_default.wrunner__valueNoteMax_direction_horizontal,
.wrunner__valueNoteCommon_theme_default.wrunner__valueNoteCommon_direction_horizontal {
  top: 0;
  min-width: 1.5rem;
  border-radius: 0.8rem 0.3rem 0.8rem 0.3rem;
}
.wrunner__valueNote_theme_default.wrunner__valueNote_direction_horizontal::after,
.wrunner__valueNoteMin_theme_default.wrunner__valueNoteMin_direction_horizontal::after,
.wrunner__valueNoteMax_theme_default.wrunner__valueNoteMax_direction_horizontal::after,
.wrunner__valueNoteCommon_theme_default.wrunner__valueNoteCommon_direction_horizontal::after {
  left: 50%;
  margin-left: -0.25rem;
  bottom: -0.5rem;
  border: 0.25rem solid transparent;
  border-top-color: #c54a8e;
}
.wrunner__valueNote_theme_default.wrunner__valueNote_direction_vertical,
.wrunner__valueNoteMin_theme_default.wrunner__valueNoteMin_direction_vertical,
.wrunner__valueNoteMax_theme_default.wrunner__valueNoteMax_direction_vertical,
.wrunner__valueNoteCommon_theme_default.wrunner__valueNoteCommon_direction_vertical {
  left: 2.4rem;
  min-width: 1.5rem;
  border-radius: 0.3rem 0.7rem 0.3rem 0.7rem;
}
.wrunner__valueNote_theme_default.wrunner__valueNote_direction_vertical::after,
.wrunner__valueNoteMin_theme_default.wrunner__valueNoteMin_direction_vertical::after,
.wrunner__valueNoteMax_theme_default.wrunner__valueNoteMax_direction_vertical::after,
.wrunner__valueNoteCommon_theme_default.wrunner__valueNoteCommon_direction_vertical::after {
  top: 50%;
  margin-top: -0.25rem;
  left: -0.5rem;
  border: 0.25rem solid transparent;
  border-right-color: #c54a8e;
}
.wrunner__valueNote_theme_default.wrunner__valueNote_display_hidden,
.wrunner__valueNoteMin_theme_default.wrunner__valueNoteMin_display_hidden,
.wrunner__valueNoteMax_theme_default.wrunner__valueNoteMax_display_hidden,
.wrunner__valueNoteCommon_theme_default.wrunner__valueNoteCommon_display_hidden {
  opacity: 0;
}
.wrunner__valueNote_theme_default.wrunner__valueNote_display_visible,
.wrunner__valueNoteMin_theme_default.wrunner__valueNoteMin_display_visible,
.wrunner__valueNoteMax_theme_default.wrunner__valueNoteMax_display_visible,
.wrunner__valueNoteCommon_theme_default.wrunner__valueNoteCommon_display_visible {
  opacity: 1;
}

