include ../mixins/mixinsList

doctype html
html
    head
        meta(charset="utf8")
        title wRunner. Slider example
        link(rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon")
        meta(name="description" content="wRunner - a js slider plugin.")
        meta(name="Keywords" content="Js, jQuery, plugin, slider, runner")
        link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
        link(rel="stylesheet" type="text/css" href="static/styles/wrunner-default-theme.css")
    body
        +pageMix
            each title, index in ["Js native", "Js native", "jQuery", "jQuery"]
                +pageElMix
                    +sampleMix({title: title})
                        +sampleInstanceMix()
                        +sampleDataMix
                            +sampleParameterMix({name: "step"})
                                input(type="text")
                            +sampleParameterMix({name: "minLimit"})
                                input(type="text")
                            +sampleParameterMix({name: "maxLimit"})
                                input(type="text")
                            +sampleParameterMix({name: "value"})
                                input(type="text")
                            +sampleParameterMix({name: "minValue"})
                                input(type="text")
                            +sampleParameterMix({name: "maxValue"})
                                input(type="text")
                            +sampleParameterMix({name: "sliderType"})
                                input(type="text")
                            +sampleParameterMix({name: "sliderDivisionsCount"})
                                input(type="text")
                            +sampleParameterMix({name: "sliderValueNoteDisplay"})
                                input(type="checkbox")
                            +sampleParameterMix({name: "sliderRoots"})
                                input(type="text")
                            +sampleParameterMix({name: "sliderDirection"})
                                input(type="text")
        script(src="./vendors.js")
        script(src="./scripts/scripts.js")
        script(src="./wrunner-native.js")
        script(src="./wrunner-jquery.js")