include ../static/BEM/mixinsList

doctype html
html
	head
		title wRunner. Slider example
		meta(charset='utf8')
		link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
		script(src='./vendors.js')
		script(src='./scripts/scripts.js')
	body
		+pageMix
			each title, index in ['Js native', 'Js native', 'jQuery', 'jQuery']
				+pageElMix
					+sampleMix({title: title})
						+sampleInstanceMix({id: 'exm' + index})
						+sampleDataMix
							+sampleParameterMix({name: 'step'})
								input(type='text' id='slider' + index + 'Step')
							+sampleParameterMix({name: 'minLimit'})
								input(type='text' id='slider' + index + 'MinLimit')
							+sampleParameterMix({name: 'maxLimit'})
								input(type='text' id='slider' + index + 'MaxLimit')
							+sampleParameterMix({name: 'value'})
								input(type='text' id='slider' + index + 'Value')
							+sampleParameterMix({name: 'minValue'})
								input(type='text' id='slider' + index + 'MinValue')
							+sampleParameterMix({name: 'maxValue'})
								input(type='text' id='slider' + index + 'MaxValue')
							+sampleParameterMix({name: 'sliderType'})
								input(type='text' id='slider' + index + 'Type')
							+sampleParameterMix({name: 'sliderDivisionsCount'})
								input(type='text' id='slider' + index + 'DivisionsCount')
							+sampleParameterMix({name: 'sliderValueNoteDisplay'})
								input(type='checkbox' id='slider' + index + 'ValueNoteDisplay')
							+sampleParameterMix({name: 'sliderRoots'})
								input(type='text' id='slider' + index + 'Roots')
							+sampleParameterMix({name: 'sliderDirection'})
								input(type='text' id='slider' + index + 'Direction')