include ../blocks/content/content

doctype html
html
    head
        meta(charset="utf8")
        title wRunner. Slider example
        link(rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon")
        meta(name="description" content="wRunner - a js slider plugin.")
        meta(name="Keywords" content="Js, jQuery, plugin, slider, runner")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
        link(rel="stylesheet" type="text/css" href="static/styles/wrunner-default-theme.css")
    body
        +content({data: ["Js native", "Js native", "jQuery", "jQuery"]})
        script(src="./scripts/vendors.js")
        script(src="./scripts/scripts.js")
        script(src="./scripts/wrunner-native.js")
        script(src="./scripts/wrunner-jquery.js")