include ../sample/sample

mixin content(options = {})
    -
        const {data = []} = options;
    .content
        for item, index in data
            .content__el
                +sample({ title: item.title, id: "sample" + index, sampleOptions: item.sampleOptions })