.wrunner__handle
	position: absolute
	height: 1.25rem; width: 1.25rem
	border-radius: 40%
	background-color: #cf579a
	transition-duration: .2s
	transition-property: transform, background-color, border-radius
	cursor: pointer
	
.wrunner__handle:hover
	transform: scale(1.1)
	border-radius: 50%
	background-color: #c54a8e

.wrunner__handle:active
	transform: scale(.9)
	border-radius: 50%
	background-color: #aa3d9c