.wrunner__valueNote
	position: absolute
	padding: .35rem
	border-radius: .8rem .3rem .8rem .3rem
	background-color: #c54a8e
	text-align: center
	color: white
	font-size: .75rem
	font-family: lato
	font-weight: 900
	cursor: default

.wrunner__valueNote::after
	content: ''
	position: absolute
	display: block
	height: 0; width: 0
	border-top-color: #c54a8e