.wrunner__valueNoteMin_theme_default.wrunner__valueNoteMin
  position: absolute
  padding: .35rem
  background-color: #c54a8e
  text-align: center
  color: white
  font-size: .75rem
  font-family: lato
  font-weight: 900
  cursor: default
  transition: .3s opacity

.wrunner__valueNoteMin_theme_default.wrunner__valueNoteMin::after
  content: ''
  position: absolute
  display: block
  height: 0
  width: 0