doctype html
html
	head
		title wRunner module example
		meta(charset='utf8')
		link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
		script(src='./scripts/base.js')
	body
		//- main
			.wrunner
				.wrunner__outer
					.wrunner__path
						.wrunner__pathPassed(style="width: 50%")
					.wrunner__handle(style="left: 50%")
					.wrunner__value(style="left: 50%") 50
					.wrunner__divisions
						.wrunner__division
						.wrunner__division
						.wrunner__division
						.wrunner__division
						.wrunner__division