include ../slider-sample-block/slider-sample-block

mixin content(options)
    -
        options = options || {};
        const {data = []} = options;
    .page
        for title in data
            .page__el
                +slider-sample-block({title})