mixin pageMix(options)
    -
        var options = options ? options : {};
    .page
        block

mixin pageElMix(options)
    -
        var options = options ? options : {};
    .page__el
        block