mixin sampleMix(options)
    -
        var options = options ? options : {};
        var title = options.title ? options.title : "";
    .sample.js-sample
        if title
            h1.sample__title= title
        .sample__body
            block

mixin sampleDataMix(options)
    form.sample__data
        block

mixin sampleInstanceMix(options)
    -
        var options = options ? options : {};
    .sample__instance.js-sample__instance
        block

mixin sampleParameterMix(options)
    -
        var options = options ? options : {};
        var name = options.name ? options.name + ":" : "name:";
    .sample__parameter
        em.sample__parameterName= name
        .sample__parameterValue.js-sample__parameterValue
            block