body {
  background-color: #2d2d2d;
  font-family: sans-serif;
}
label {
  color: #fff;
  text-shadow: 3px 5px 4px rgba(0,0,0,0.6);
}
label,
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

.content__el {
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #1c1c1c;
  overflow: hidden;
  border-radius: 0.2rem;
}
.content__el:first-child {
  margin-top: 0;
}

.sample__body {
  display: flex;
  justify-content: space-between;
}
.sample__data {
  width: 50%;
  min-height: 5rem;
  padding: 0.5rem;
  border-left: solid #fff;
  margin-left: 0.25rem;
}
.sample__instance {
  width: 50%;
  min-height: 5rem;
  padding: 0.25rem;
}
.sample__parameter {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.sample__parameter:first-child {
  margin-top: 0;
}
.sample__parameter-name {
  font-style: normal;
  color: #fff;
  font-size: 1.5rem;
  flex-shrink: 0;
  margin-right: 1rem;
  text-shadow: 3px 5px 4px rgba(0,0,0,0.6);
}
.sample__parameter-value {
  width: 100%;
  color: #000;
}
.sample__title {
  text-align: center;
  font-style: normal;
  margin: 0.2rem;
  color: #fff;
  text-shadow: 3px 5px 4px rgba(0,0,0,0.6);
}

.textInput {
  border: none;
  height: 100%;
  border-radius: 3px;
  background-color: #fff;
}

