theme = "_theme_default"

.wrunner
  &{theme}&
    &_direction
      &_horizontal
        width: 100%
        padding-left: .625rem
        padding-right: .625rem
        box-sizing: border-box

      &_vertical
        height: 100%
        width: max-content
        padding-top: .625rem
        padding-bottom: .625rem
        box-sizing: border-box

  &__outer
    &{theme}&
      position: relative
      padding-top: .1px

      &_direction
        &_horizontal
          height: 4rem
          width: 100%

        &_vertical
          height: 100%
          width: 5.5rem
          min-height: 10rem

  &__scaleDivisionsBlock
    &{theme}&
      position: absolute
      display: flex

      &_direction
        &_horizontal
          top: 3.5rem
          width: 100%
          justify-content: space-between

        &_vertical
          height: 100%
          width: .5rem
          left: 0
          justify-content: space-between
          flex-direction: column
    
  &__scaleDivision
    &{theme}&
      background-color: #cb73a4

      &_direction
        &_horizontal
          height: .5rem
          width: .1rem

        &_vertical
          height: .1rem
          width: .5rem

  &__handle
    &{theme}&
      position: absolute
      height: 1.25rem
      width: 1.25rem
      border-radius: 40%
      background-color: #cf579a
      transition-duration: .2s
      transition-property: transform, background-color, border-radius
      cursor: pointer
      z-index: 1
  
      &:hover
        transform: scale(1.1)
        border-radius: 50%
        background-color: #c54a8e

      &:active
        transform: scale(.9)
        border-radius: 50%
        background-color: #aa3d9c

      &_direction
        &_vertical
          margin-top: -.6rem
          margin-left: -.4rem

        &_horizontal
          margin-top: -.35rem
          margin-left: -.6rem

  &__track
    &{theme}&
      position: absolute
      background-color: rgba(205, 205, 205, 0.75)
      border-radius: .25rem
      cursor: pointer
      
      &_direction
        &_horizontal
          height: .5rem
          width: 100%
          top: 2.3rem
        
        &_vertical
          height: 100%
          width: .5rem
          left: 1.2rem

  &__progress
    &{theme}&
      position: absolute
      background-color: #cb73a4
      border-radius: .25rem
      
      &_direction
        &_horizontal
          height: 100%
          
        &_vertical
          width: 100%
          bottom: 0

  &__value-note
    &{theme}&
      position: absolute
      padding: .35rem
      background-color: #c54a8e
      text-align: center
      color: white
      font-size: .75rem
      font-family: lato
      font-weight: 900
      cursor: default
      transition: .2s opacity
      
      &::after
        content: ''
        position: absolute
        display: block
        height: 0
        width: 0
      
      &_direction
        &_horizontal
          top: 0
          min-width: 1.5rem
          border-radius: .8rem .3rem .8rem .3rem
          
          &::after
            left: 50%
            margin-left: -.25rem
            bottom: -.5rem
            border: .25rem solid transparent
            border-top-color: #c54a8e
        
        &_vertical
          left: 2.4rem
          min-width: 1.5rem
          border-radius: .3rem .7rem .3rem .7rem
          
          &::after
            top: 50%
            margin-top: -.25rem
            left: -.5rem
            border: .25rem solid transparent
            border-right-color: #c54a8e
      
      &_display
        &_hidden
          opacity: 0

        &_visible
          opacity: 1