.wrunner__handleMax_theme_default.wrunner__handleMax
  position: absolute
  height: 1.25rem
  width: 1.25rem
  border-radius: 40%
  background-color: #cf579a
  transition-duration: .2s
  transition-property: transform, background-color, border-radius
  cursor: pointer
  z-index: 1
  
.wrunner__handleMax_theme_default.wrunner__handleMax:hover
  transform: scale(1.1)
  border-radius: 50%
  background-color: #c54a8e

.wrunner__handleMax_theme_default.wrunner__handleMax:active
  transform: scale(.9)
  border-radius: 50%
  background-color: #aa3d9c